.aboutor {
    color: var(--secondary);
}
.about-text {
    font-size: 1.3rem;
    padding: 0 1vw 0 1vw;
}
@media (max-width: 768px) {
    .thread-image {
      width: 60vw;
    }
    .thread-username {
      font-size: 1rem;
      color: #dadedf;
    }
  }
  
  @media (min-width: 769px) {
  }
  