.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  /* transform: translateY(-100%);
    transition: transform 500ms ease-in-out; */
  /* border: 5px solid black;
    animation-name: slidein;
    animation-duration: 200ms;
    animation-timing-function: ease;
}
@keyframes slidein {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
} */
  /* /* .side-drawer.open {
    transform: translateY(0);
    z-index: 11;
} */
}
.side-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9vh;
}
.side-nav-links div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.side-nav-links div a {
  color: var(--secondary);
  font-size: 1.5rem;
}
.social-buttonss {
  width: 100%;
  border-top: 0.5px solid rgb(221, 221, 221);
  position: fixed;
  padding: 1.5vh;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.social-l {
  padding: 0 1.5rem 0 1.5rem;
  font-size: 1.5rem;
  color: var(--tertiary);
}
.social-l a {
  color: var(--tertiary);
}

/* @media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
} */
