.office {
  color: var(--tertiary);
}
.branch {
  font-size: 2rem;
}
.contact {
  color: var(--tertiary);
  padding-top: 1.5vh;
}
.title {
    font-size: 1.5rem;
}
.phone {
  color: var(--primary);
}
@media (max-width: 768px) {
  .thread-image {
    width: 60vw;
  }
  .thread-username {
    font-size: 1rem;
    color: #dadedf;
  }
}

@media (min-width: 769px) {
}
