:root {
  --primary: #fa3c33;
  --secondary: #9b9b9b;
  --tertiary: #9b9b9b;
}
a:link {
  text-decoration: none;
}
.mainmain {
  margin-top: 64px;
}
h1 {
  font-size: 2.3 rem;
}
body {
  color: var(--secondary);
}
@media (max-width: 768px) {
  .buffer-1 {
    height: 25vh;
  }
}

@media (min-width: 769px) {
}
